a {
    border: 1px solid black;
    color: black;
    text-decoration: none;
    height: 40px;
    display: block;
    text-align: center;
    font-size: 25px;
}

td {
    width: 60px;
    height: 30px;
}